body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #1f2937;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
}

.dashboard-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px 0;
}

.dashboard {
    display: flex;
    flex-grow: 1;
    margin: auto 20px;
    padding: 10px 50px;
    max-width: 900px;
    border-radius: 20px;
    border: solid 2px dodgerblue;
    justify-content: space-between;
    background: rgb(231, 231, 231);
}

button {
    border: none;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.btn-add-book {
    height: 5em;
    width: 200px;
    margin: 20px 0;
    background: dodgerblue;
    color: white;
    font-weight: bold;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    width: 180px;
    height: 240px;
    margin: 25px;
    padding: 15px;
    border: 3px solid dodgerblue;
    border-radius: 5px;
    background: rgb(230, 229, 229);
    box-shadow: 3px 3px 8px 3px #00000034;
}

.book .book__input-container {
    display: flex;
    width: 100%;
    margin-top: auto;
    align-self: flex-end;
    justify-content: space-between;
}

.book__img-remove {
    width: 35px;
    height: auto;
    border: 2px red solid;
    border-radius: 50%;
}

.book__chk-container {
    display: flex;
    margin: auto 0;
    border: 1px solid #94a3b9;
    border-radius: 4px;
    padding: 6px 12px;
}

.book span {
    /*overflow-wrap: break-word;*/
    overflow-wrap: anywhere;
    /*word-break: break-all;*/
    text-align: center;
    margin: 0 auto 10px auto;
}

.book__title {
    font-size: 1.5em;
    font-weight: bold;
}

.book.book--read {
    border-color: rgb(0, 187, 0);    
    box-shadow: 3px 3px 8px 3px #00770055;
}

.book__chk-container.book--read {
    background: lightgreen;
}

.modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.frm-add-book {
    width: 350px;
    margin: 120px auto;
    border: 1px solid blue;
    border-radius: 15px;
    padding: 20px;
    background: lightgray;
    font-size: 1.25em;
}

.frm-add-book input,
.frm-add-book textarea {
    font-size: 0.75em;
    padding: 4px 2px;
}

.frm-add-book abbr {
    color: red;
}

.frm-add-book ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.frm-add-book li + li {
    margin-top: 1em;
}

.frm-add-book input[type=text], 
.frm-add-book textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid blue;
    border-radius: 2px;
}

.frm-add-book textarea {
    vertical-align: top;
    height: 4em;
    font-family: inherit;
}

.frm-add-book button {
    width: 100px;
    height: 30px;
    margin: 30px 0;
}

.frm-add-book .frm-add-book__btn-cancel {
    background: red;
    color: white;
    margin-left: 30px;
}


button:hover,
img:hover,
.book__chk-container:hover,
input[type=text]:hover,
input[type=checkbox]:hover,
textarea:hover {
  /*border: 1px solid turquoise;*/
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    color: whitesmoke;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    padding: 20px 0;
    border-top: 1px solid rgba(245, 245, 245, 0.4);
}

.fa.fa-github.fa-2x {
    color: white;
}