body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(255, 254, 248);
    /*box-sizing: border-box;*/
    /*max-width: 700px;*/
    margin: auto;
}

.books-container h2 {
    margin: 10px 60px;
    text-align: center;
}

.books {
    display: flex;
    flex-wrap: wrap;
    margin: auto 50px;
}

.book {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: top;
    align-items: center;
    width: 180px;
    /*max-width: 180px;*/
    height: 240px;
    margin: 25px;
    padding: 15px;
    border: 3px solid darkslategrey;
    border-radius: 5px;
    background: rgb(255, 247, 234);
    box-shadow: 5px 5px 10px 5px #00000034;
}

.book > * {
    /*overflow-wrap: break-word;*/
    overflow-wrap: anywhere;
    /*word-break: break-all;*/
    text-align: center;
    margin: 0 auto 10px auto;
}

.book__title {
    font-size: 1.5em;
    font-weight: bold;
}

.book--read {
    border-color: rgb(0, 168, 0);    
}

.modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.frm-add-book input,
.frm-add-book textarea {
    font-size: 0.75em;
    padding: 4px 2px;
}

.frm-add-book {
    width: 60%;
    margin: 120px auto;
    border: 1px solid blue;
    border-radius: 15px;
    padding: 20px;
    background: lightgray;
    font-size: 1.25em;
}

abbr {
    color: red;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

/*
label {
    display: inline-block;
    text-align: left;
    width: 300px;
    vertical-align: top;
}
*/

input[type=text], 
textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid blue;
}

textarea {
    vertical-align: top;
    height: 4em;
    font-family: inherit;
}

.frm-add-book button {
    width: 100px;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  /*border: 2px solid red;*/
  border-color: red;
}